.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: ;
}

img {
    width: none;
    height: none;
}

li {
    padding-bottom: 8px;
    list-style: upper-latin;
}